.list2 {  
    width: 180px;
    height: 140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-inline: 10px;
    display: inline-block;
    border-radius: 5%;
    text-align: center;
  }
  
  
  
  
  
    
     