image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  background: center center/cover no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  background-size: 100% 100%;
  object-fit: contain; 
}

.hero-container > img {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;

}

.hero-container > h1 {
  color: #fff;
  font-size: 44px;
  margin-top: 200px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 56px;/* or 127% */
  position:static;
  width: 730px;
  left: calc(50% - 730px/2);

}

.hero-container > p {
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  /* or 137% */
  letter-spacing: 0.3px;
}

.hero-btns {
  margin-top: 32px;
  margin-bottom: 250px;
}

.hero-btns .btn {
  color: #fff;
  font-family: 'Mulish', sans-serif;
  border: 3px solid #fff;
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
