.list {  
  width: 180px;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-inline: 80px;
  display: inline-block;
  border-radius: 5%;
  text-align: center;
}


.social-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 27px;
  width: 120px;
}

.officer-title {
  background-image: url('./../Images/background_offier2.png');
  padding: 150px;
  text-align: center;
  font-size: 35px;
  background-repeat: no-repeat;
  background-position: bottom;
  display:block;
  background-size: 1920px 494px;
  object-fit: fill;
}

.officer-background {
  background-image: url('./../Images/background_offier2.png');
  padding: 150px;
  text-align: center;
  font-size: 35px;
  background-repeat: no-repeat;
  background-position: bottom;
  display:block;
  background-size: 100% 100%;
  object-fit: fill;
  color: white
}





  
   